/*Box Model Hack
*/


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*SETUP*/

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: 0 auto;
 
}

.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  /*overflow: auto; DONT NEED IT*/
}

/*LAYOUT*/

header h1 {
    font-size: 3em;
}

header {
  background: url("../images/header.jpg");
  margin: 0 auto;
  width: 100%;
  height: 5em;
  background-color: black;
}

.center-column {
  width: 50%;
  margin: auto;
  margin-top: 2em;
  height: 10em;
  overflow: auto;
}

.center-button {
  width: 50%;
  margin: auto;
  height: 10em;
  overflow: auto;
  text-align: right;
}

.navbar-default {
  background-color: #00bcd4;
  border: none;
  border-radius: 0;

}

.form-control {
  height: 70px;
}


/*STYLE*/

/*.table {
  display: none;
}*/

::-webkit-input-placeholder {
  
  font-weight: 100;
 font-size: 150%;
 color: #d0cdfa;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 
}
:-moz-placeholder { /* older Firefox*/
 
  font-weight: 100;
 font-size: 150%;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 
}
::-moz-placeholder { /* Firefox 19+ */ 
  
  font-weight: 100;
 font-size: 150%;
 color: #d0cdfa; 
 text-transform: uppercase;
 text-align: center;
 
} 
:-ms-input-placeholder { 
  
  font-weight: 100;
 font-size: 150%; 
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 
}

button {
  margin-top: 1em;
}

h1 {
  font-weight: 100;
  margin: 0;
  color: white;
  padding-top: 0.3em;
  padding-left: 1em;
  font-size: 3em;
}

h2 {
  font-weight: 300;
  margin: 0;
  color: #2b9230;
  padding-top: 0.3em;
  padding-left: 1em;
  font-size: 3em;
}

h3 {
  font-weight: 100;
  margin-bottom: 1em;
  color: #2b9230;
  padding-left: 1.5em;
  font-size: 2em;
}

table {
  font-weight: 400;

}

#spotInfo {
  display: none;
}

/*#spotInCounty {
  display: none;
}*/


/* Media Queries */
@media only screen and (max-width: 480px) {

  header h1 {
    padding-top: 0.9em;
    font-size: 1.5em;
  }

  .form-control {
    margin: 0 auto;
    height: 50px;
    width: 90%;
  }

  ::-webkit-input-placeholder {
    
    font-weight: 100;
   font-size: 80%;
   color: #d0cdfa;
   text-transform: uppercase;
   text-transform: uppercase;
   text-align: center;
   
  }
  :-moz-placeholder { /* older Firefox*/
   
    font-weight: 100;
   font-size: 80%;
   color: #d0cdfa;
   text-transform: uppercase;
   text-align: center;
   
  }
  ::-moz-placeholder { /* Firefox 19+ */ 
    
    font-weight: 100;
   font-size: 80%;
   color: #d0cdfa; 
   text-transform: uppercase;
   text-align: center;
   
  } 
  :-ms-input-placeholder { 
    
    font-weight: 100;
   font-size: 80%; 
   color: #d0cdfa;
   text-transform: uppercase;
   text-align: center;
   
  }
  
}

@media only screen and (min-width: 480px) and (max-width: 680px) {

  header h1 {
    padding-top: 1em;
    font-size: 1.5em;
  }

  .form-control {
    margin: 0 auto;
    height: 50px;
    width: 90%;
  }

  ::-webkit-input-placeholder {
    
    font-weight: 100;
   font-size: 80%;
   color: #d0cdfa;
   text-transform: uppercase;
   text-transform: uppercase;
   text-align: center;
   
  }
  :-moz-placeholder { /* older Firefox*/
   
    font-weight: 100;
   font-size: 80%;
   color: #d0cdfa;
   text-transform: uppercase;
   text-align: center;
   
  }
  ::-moz-placeholder { /* Firefox 19+ */ 
    
    font-weight: 100;
   font-size: 80%;
   color: #d0cdfa; 
   text-transform: uppercase;
   text-align: center;
   
  } 
  :-ms-input-placeholder { 
    
    font-weight: 100;
   font-size: 80%; 
   color: #d0cdfa;
   text-transform: uppercase;
   text-align: center;
   
  }

}

@media only screen and (min-width: 680px) and (max-width: 980px) {

  header h1 {
    padding-top: 0.8em;
    font-size: 2em;
  }

  .form-control {
    margin: 0 auto;
    height: 50px;
    width: 90%;
  }

  ::-webkit-input-placeholder {
    
    font-weight: 100;
   font-size: 80%;
   color: #d0cdfa;
   text-transform: uppercase;
   text-transform: uppercase;
   text-align: center;
   
  }
  :-moz-placeholder { /* older Firefox*/
   
    font-weight: 100;
   font-size: 80%;
   color: #d0cdfa;
   text-transform: uppercase;
   text-align: center;
   
  }
  ::-moz-placeholder { /* Firefox 19+ */ 
    
    font-weight: 100;
   font-size: 80%;
   color: #d0cdfa; 
   text-transform: uppercase;
   text-align: center;
   
  } 
  :-ms-input-placeholder { 
    
    font-weight: 100;
   font-size: 80%; 
   color: #d0cdfa;
   text-transform: uppercase;
   text-align: center;
   
  }

}

/*HOVER ANIMATION*/
/*a {
  position: relative;
  color: white;
  text-decoration: none;
}
a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background: currentColor;
  opacity: 0;
  -webkit-transition: opacity 220ms ease-in-out, width 244ms ease-in-out;
  transition: opacity 220ms ease-in-out, width 244ms ease-in-out;
}

a:hover:before {
  opacity: 1;
  width: 100%;
}*/

/*.slideDown{
  top: 2em;
  right: 0em;
  position: absolute;
  z-index: 300;
  background-color: black;
  height:20em;
}*/
